<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\練習02.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="newsConnectionString" connectionString="Data Source=heloyou.database.windows.net;Initial Catalog=test01;Persist Security Info=True;User ID=malik;Password=Chen0271"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <customErrors mode="RemoteOnly" defaultRedirect="Error.html"></customErrors>
  </system.web>
</configuration>